<p id="notice"><%= notice %></p>

<h1>Your options include:</h1>

<% if @search.search_services.empty? %>

  <p>No records found</p> <!-- @todo: Rephrase to redirect to other options -->

<% else %>

  <% @search.search_services.each do |service| %>
    <br />

    <div class="div">
      <h3><%= service.name %></h3>
      <p><%= service.location %></p>
      <p>
        <% if service.veteran? %>
          Specifically for veterans
        <% end %>
      </p>
    </div>
  <% end %>

<% end %>
