<div id="home">
    <p class="bg-info">Have you or someone you know been <strong>harmed by violence</strong>?</p>

    <p class="lead">Find services that can help you, even if you don&rsquo;t know what&rsquo;s available.</p>

    <p>Just answer a few questions about your situation and we&rsquo;ll tell you about your options.</p>

    <p>It&rsquo;s completely <strong>private</strong> and <strong>anonymous</strong>. Your information will not be viewed, saved or shared.</p>

    <div class="text-center">
        <%= button_to "Let's Go", new_search_path, method: :get, class: "btn btn-success btn-lg" %>
    </div>
</div>
