<div class="container-fluid">
    <row>
        <p>Have you or someone you know been harmed by violence or crime?</p>

        <p>Taking Steps can help you find places that can provide the services you want, even if you don&rsquo;t know what&rsquo;s available.</p>

        <p>Just answer a few questions about your situation and we&rsquo;ll tell you about your options.</p>

        <p>It&rsquo;s completely private and anonymous. Your information will not be viewed, saved or shared.</p>

        <%= link_to "Let's Go", new_search_path %>
    </row>
</div>
